#map {
    height: 99vh;
    width: 100hw;
}

<style type="text/css">.tg {
    border-collapse: collapse;
    border-spacing: 0;
}

.tg td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg .tg-wd1d {
    border-color: inherit;
    color: #656565;
    font-family: Arial, Helvetica, sans-serif !important;
    text-align: center;
    vertical-align: top
}

.tg .tg-n533 {
    background-color: #dae8fc;
    border-color: inherit;
    font-weight: bold;
    text-align: center;
    vertical-align: top
}

.tg .tg-f0bj {
    background-color: #DAE8FC;
    border-color: inherit;
    font-weight: bold;
    text-align: center;
    vertical-align: top
}

</style>